{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %}
    {% for program in programs %}
        <div>
            <h1>{{ program.id }}/{{ program.title }}</h1>
            <img src="{{ program.poster }}" width="300" alt="{{ program.title }}">
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Pas de série pour la catégorie {{ category.name }}
    {% endfor %}
{% endblock %}