{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img src="{{ program.poster }}" width="100" alt="{{ program.title }}">
        <p>Saison {{ season.number }} de {{ program.title }}- {{ season.year }}</p>
        Episode : {{ episode.number }} - {{ episode.title }}
        <p>"{{ episode.synopsis }}"</p>
    </div>
{% endblock %}