{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img src="{{ program.poster }}" width="100" alt="{{ program.title }}">
        <p>Saison {{ season.number }} de {{ program.title }}- {{ season.year }}</p>
        Episode : {{ episode.number }} - {{ episode.title }}
        <p>"{{ episode.synopsis }}"</p>
    </div>
    <div>
        <h1>Commentaires</h1>

        {% for comment in episode.comments %}
           <h2>Auteur : {{ comment.author.email }}</h2>
            <p>{{ comment.comment }}</p><br/>
            {% if is_granted("ROLE_ADMIN") or app.user is same as comment.author %}
                {{ include('comment/_delete_form.html.twig') }}
            {% endif %}
            <hr/>
        {% else %}
            <p>Pas de commentaires</p>
        {% endfor %}
    </div>
    {% if app.user %}
        <h2> Ajouter un commentaire</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type='submit' value='Add commentary'>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}