{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="form-search">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type='submit' value='Search'>
        {{ form_end(form) }}
    </div>

    <h1>Toutes les séries: </h1>
    <div class="wrapper">
        {% for program in programs %}
            <div class="child">
                <h2>{{ program.title }} </h2>
                <h4>Categorie: {{ program.category.name }}</h4>
                <a href='{{ path("program_show", { slug: program.slug }) }}'><img src="{{ program.poster }}" alt="{{ program.title }}"></a>
                <p> {{ program.summary }}</p>
                <a href='{{ path("program_show", { slug: program.slug }) }}'>Voir la fiche</a>
            </div>
        {% else %}
            <p>Aucunes séries trouvées</p>
        {% endfor %}
    </div>

{% endblock %}