{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>{{ program.title }}</h2>
        <h4>Categorie: {{ program.category.name }}</h4>
        {%  if app.user %}
            <a href="{{ path('program_watchlist', {program: program.id}) }}" id="watchlist"><i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i></a>
        {% endif %}

        <img src="{{ program.poster }}" width="300" alt="{{ program.title }}" >

        <p> {{ program.summary }}</p>
        {% if is_granted("ROLE_ADMIN") %}
           <a href="{{ path('program_edit', {slug : program.slug}) }}">Edit </a>
        {% endif %}

        {% for season in program.seasons %}
            <p>Saison {{ season.number }} - {{ season.year }}</p>
            <p>{{ season.description }}</p>
            <a href='{{ path("program_season_show", { program: program.id,  season: season.id }) }}'>Voir la saison</a>
        {% endfor %}
        <br/>
        <strong>Acteurs :</strong>
        <ul>
                {% for actor in program.actors %}
                        <li><a href="{{ path("actor_show", {id: actor.id}) }}">{{ actor.name }} </a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
            </ul>
    </div>
{% endblock %}