{% extends 'base.html.twig' %}

{% block body %}
    <div id="program">
            {% include ('./components/_showListProgram.html.twig') %}
        {% if is_granted("ROLE_ADMIN") %}
           <a href="{{ path('program_edit', {slug : program.slug}) }}">Edit </a>
        {% endif %}
    </div>
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Season number</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Links</th>
                </tr>
            </thead>
            {% for season in program.seasons %}
                <tbody>
                    <tr>
                        <td>Saison {{ season.number }}</td>
                        <td>{{ season.year }}</td>
                        <td>{{ season.description }}</td>
                        <td><a href='{{ path("program_season_show", { program: program.id,  season: season.id }) }}'>Voir la saison</a></td>
                    </tr>
                </tbody>

            {% endfor %}
        </table>
    </div>

        <strong>Acteurs :</strong>
        <ul>
                {% for actor in program.actors %}
                        <li><a href="{{ path("actor_show", {id: actor.id}) }}">{{ actor.name }} </a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
            </ul>

{% endblock %}
